.main-nav {
  background: #13a4a4;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: #ffff;
  padding: 5px;
  border-radius: 2px;
}

.main-nav__item a:hover {
  color: cyan;
}

.main-nav__item a:active {
  color: lightblue;
}

.main-nav__item a:after {
  content: '|';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
